.route {
  margin-top: 60px;

  .route__form {
    height: 70px;
  }

  label {
    color: $colorGray;
  }

  input {
    //background: #2E3035;
    color: $colorBlack;
  }

  .outlined-text-form {
    &:first-child {
      input,
      .form-control {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    }

    &:last-child {
      input,
      .form-control {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid $colorGray1;
    }

    label {
      //top: 26px;
      top: 10px;
      left: 8px;
    }
  }

  .DayPickerInput {
    width: 100%;
    height: 100%;

    input {
      padding: 8px 12px;
      width: 100%;
      height: 100%;

      &:focus {
        //border: 2px solid #FFCC00;
        outline: none;
      }
    }
  }

  input,
  //.DayPickerInput,
  .form-control {
    background: $colorWhite;
    border: 2px solid transparent;
    border-radius: 0;
    height: 100%;
    padding-top: 14px;

    &:focus {
      border: 2px solid #FFCC00;

      + label {
        background: transparent;
        color: inherit;
        top: 12px;
      }
    }

    &:valid {
      + label {
        top: 12px;
      }
    }
  }

  .outlined-text-form {
    width: 100%;

    &.focused {
      &.passengers {
        .form-control {
          border: 2px solid #FFCC00;
        }
      }

      label {
        padding: 0 6px;
        font-size: 12px;
        top: 12px;
      }

      &.passengers {
        label {
          font-size: 14px;
          left: 4px;
          top: 17px;
        }
      }
    }

    &.passengers {
      input:focus {
        & + label {
          font-size: 14px;
          left: 4px;
          top: 17px;
        }
      }
    }
  }

  .clear-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #EFF0F7;
    display: block;
    top: calc(50% - 12px);
    right: 6px;
    border-radius: 50%;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      width: 2px;
      height: 60%;
      display: block;
      background: #808080;
      position: absolute;
      top: 20%;
      left: calc(50% - 1px);
    }

    &::before {
      transform: rotateZ(45deg);
    }

    &::after {
      transform: rotateZ(-45deg);
    }
  }

  .to-search-results {
    border-radius: 8px;
    min-width: 150px;
    margin-left: 12px;
    font-size: 22px;
  }

  .DayPicker {
    background: white;
    position: absolute;
    z-index: 12;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .DayPicker-Day {
    color: $colorBlack;

    &:hover {
      color: $colorWhite;
      background: $colorGreen !important;
    }
  }

  .DayPicker-Caption {
    color: $colorBlack;
  }

  .DayPicker-Day--today {
    color: $colorRed;
  }

  //.DayPicker

  .autocomplete,
  .autocomplete__body,
  .react-autosuggest__container {
    height: 100%;
  }

  .react-autosuggest__suggestions-container--open {
    background: $colorWhite;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    min-width: 250px;
    z-index: 12;
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .react-autosuggest__suggestion {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(217, 219, 233, 1);
    }

    a {
      display: block;
      padding: 16px 20px;
      text-decoration: none;
      font-size: 14px;
      color: #262626;

      &:hover {
        background: #F7F7FC;
      }
    }

    .item__query {
      font-weight: 900;
    }

    .item__last-chars {
      font-weight: 400;
    }
  }

  // passengers
  .passengers {
    position: relative;
    cursor: pointer;

    p {
      margin: 0;
    }

    label {
      position: absolute;
      top: 17px;

      p:first-child {
        color: $colorBlack;
      }
    }

    .form {
      position: absolute;
      top: 70px;
      padding: 20px;
      right: 0;
      z-index: 12;
      background: $colorWhite;
      box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      color: $colorBlack;
      min-width: 250px;
    }

    .passengers__count {
      border-bottom: 1px solid #D9DBE9;
      //padding-bottom: 20px;

      .categories__item {
        margin-bottom: 20px;

        .item__title,
        .item__description {
          display: block;
        }

        .item__title {
          font-size: 14px;
          color: $colorBlack;
          font-weight: 700;
        }

        .item__description {
          font-size: 12px;
          color: $colorGray;
          font-weight: 400;
        }

        .item__counter {
          margin-left: 12px;
        }
      }

      .counter__count {
        margin: 0 8px;
      }

      .counter__decrease,
      .counter__increase {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 32px;
        height: 32px;
        background: #EFF0F7;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .custom-input__name {
      margin-left: 26px;
    }

    .passengers__type {
      padding-top: 24px;

      label {
        padding: 0;
        margin: 0;
        pointer-events: all;
        cursor: pointer;
        position: static;
        display: flex;
        align-items: center;
        line-height: 100%;

        & + label {
          margin-top: 18px;
        }
      }

      input {
        margin: 0 6px 0 0;
        pointer-events: all;
        display: inline-block;
        cursor: pointer;
        width: 14px;
        height: 14px;
      }

      & > div:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
