@import "./src/styles/variables/main";
@import "./src/styles/mixin/main";
//@import "./src/styles/helpers/main";

@import '~react-day-picker/lib/style.css';
@import "~nouislider/distribute/nouislider.css";

@import "./src/core/components/autocomplete/styles/main";

@import "./src/desktop/layouts/main/styles/main";
@import "./src/desktop/components/price/styles/main";
@import "./src/desktop/components/timeSlider/styles/main";
@import "./src/desktop/components/ticket/styles/main";
@import "./src/desktop/components/accordion/styles/main";
@import "./src/desktop/components/faq/styles";

.search {
  @import "header/main";
  @import "route/main";
  @import "filter/main";
  @import "booking/main";

  .search__body {
    position: relative;
    margin-top: 50px;

    &.loading {
      min-height: 50px;

      &:before {
        background: none;
      }
    }
  }

  .offers__items {
    margin: auto;

    .ticket + .ticket {
      margin-top: 20px;
    }
  }

  .faq {
    margin-top: 50px;
  }
}

@import "mediaQueries";
