@import "./src/styles/variables/main";
@import "./src/styles/mixin/main";

.accordion {
  .panel {
    min-height: 70px;
    padding: 20px 25px;
    border-radius: 8px;
    background: #F7F7FC;

    & + .panel {
      margin-top: 16px;
    }

    .panel__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .icon {
        font-size: 35px;
        color: $colorGray1;
      }
    }

    .panel__title {
      line-height: 21px;
      font-weight: bold;
      font-size: $fontSizeLarge;
      color: $colorBlack;
    }

    .panel__body {
      max-height: 0;
      margin-top: 15px;
      display: none;
      line-height: 1.5;
      font-size: $fontSizeMedium;
      color: #4E4B66;
      transition: 0.1s all;
    }
  }

  .panel.panel--active {
    .panel__body {
      display: block;
      max-height: inherit;
      opacity: 1;
    }
  }
}
