//@import "reset.css";
//@import "~bootstrap/scss/bootstrap-grid.scss";
//@import "~bootstrap/scss/utilities/flex";

@import "framework/base/main";

@import "variables/main.scss";
@import "mixin/main.scss";
@import "helpers/main.scss";

.body {
  font-size: $fontSizeBase;
  font-family: $fontFamilyBase;
  background: $bodyBackgroundBase;
  @include fontSmoothing();
}

#__next, .layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
