@import "variables/main.scss";
@import "mixins/main.scss";
@import "framework/main.scss";

.body {
  font-size: $fontSizeBase;
  font-family: $fontFamilyBase;
  background: $bodyBackgroundBase;
  @include fontSmoothing();
}

#__next, .layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}