$colorWhite: rgba(255, 255, 255, 1);
$colorTransparentWhite: rgba(255, 255, 255, 0.6);
$colorBlack: #212121;
$colorDark: lighten($colorBlack, 13%);
$colorDark1: #212E42;
$colorGray: rgba(57, 69, 86, 0.6);
$colorGray1: #909AAA;
$colorGray2: #f9f9fb;
$colorOrange: #FF5C00;
$colorRed: #F33434;
$colorLightRed: #F64C4C;
$colorPink: #FF3366;
$colorYellow: #FFC107;
$colorGreen: #42AB44;
$colorLightGreen: rgba(0, 160, 70, 0.08);
$colorBlue: #2270EE;


$linkColor: $colorBlue;
$errorColorBase: $colorRed;
$headerColor: #394556;
//$bodyBackgroundBase: #FAFAFB;
$bodyBackgroundBase: #E5E5E5;

$borderColorBase: #EFF0F7;
