.search__header {
  background: url("https://c.pxhere.com/photos/16/91/photo-121944.jpg!d") no-repeat center/cover;
  color: $colorWhite;
  padding: 70px 0 65px 0;
}

.search__title {
  margin: 0 0 24px 0;
  font-size: 44px;
  color: inherit;
}

.search__subtitle {
  margin: 0;
  font-size: 20px;
}
