.flight {
  width: 100%;
  display: flex;

  .flight__header {
    width: 100%;
    max-width: 120px;
  }

  .flight__body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .flight__body,
  .flight__departure,
  .flight__about-route,
  .flight__arrival {
    margin-top: 20px;
  }

  .flight__departure,
  .flight__arrival {
    flex-shrink: 0;
  }

  .flight__airline-company {
    //width: 120px;
    //height: 56px;
    width: 45px;
    height: 45px;
    border: 1px solid #D9DBE9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      //max-width: 96px;
      //max-height: 48px;
      max-width: 39px;
      max-height: 21px;
      width: auto;
      height: auto;
    }
  }

  .flight__aircraft-identifier {
    display: flex;
    flex-direction: column;
  }

  .flight__about-route {
    width: 100%;
    //outline: 1px solid red;
  }

  .flight__total-time {
    text-align: center;
  }

  .flight__transfers {
    margin-top: 10px;
  }
}

@include md() {
  .flight {
    .flight__body {
      flex-direction: row;
    }

    .flight__body,
    .flight__departure,
    .flight__arrival {
      margin-top: 0;
    }

    .flight__airline-company {
      width: 100%;
      max-width: 120px;
      min-width: 100px;
      height: 56px;

      img {
        max-width: 96px;
        max-height: 48px;
      }
    }

    .flight__aircraft-identifier {
      padding: 0 24px;
    }

    .flight__about-route {
      margin: 0 40px;
      //outline: 1px solid red;
    }
  }
}
